// ========================================================================
// COMPONENTS/SECTIONS/PRODUCT-TABLE
// ========================================================================

@import '~sassHelpers';
.c-User {
  display: flex;
  flex-direction: column;

  @include bp(10) {
    flex-direction: row;
    align-items: center;

    div:first-child {
      margin-bottom: 0;
      margin-right: spacer(2);
    }
  }
}
.c-User-table {
  tbody {
    tr td:first-child {
      text-align: left;
    }
  }
}
