// ========================================================================
// ELEMENTS/TABLES
// ========================================================================

table {
  width: 100%;
  border-spacing: 0;
  text-align: center;
}
