// ========================================================================
// COMPONENTS/SECTIONS/TAB.TAB
// ========================================================================

@import '~sassHelpers';

.c-tab-item {
  display: none;
  &.active {
    display: block;
  }
}
.c-tab-header {
  flex-flow: column wrap;
  justify-content: flex-start;
  flex-grow: 2;
  &.active {
    border-bottom: 0.1rem blue;
  }
}
