// ========================================================================
// SETTINGS/THEMES
// ========================================================================

// :root {
//   --primary-light: #eef6ff;
//   --primary: #3b5ca1;
//   --secondary-light: #ffe8d9;
//   --secondary: #db702f;
// }

$colors-brand: (
  primary: #0066ea,
  primary-light-1: #8cbaf6,
  primary-light-2: #f2f7fe,
  secondary: #fd9859,
);
