// ========================================================================
// UTILITIES/SPACERS
// ========================================================================

@each $key, $value in $spacers {
  .u-mb-#{$key} {
    margin-bottom: $value !important;
  }
  .u-ml-#{$key} {
    margin-left: $value !important;
  }
  .u-mr-#{$key} {
    margin-right: $value !important;
  }
  .u-mt-#{$key} {
    margin-top: $value !important;
  }
}
