// ========================================================================
// TOOLS/MIXINS/GRID-WIDTHS
// ========================================================================

// usage
// @include text-overflow;
// Requires inline-block or block for proper styling

@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
