// ========================================================================
// COMPONENTS/SHARED/INPUT-TYPES/INPUT-LIST-ITEM
// ========================================================================

@import '~sassHelpers';

.c-input-list-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: spacer(8);
    padding-left: spacer(2);
    padding-right: spacer(2);
    background-color: white;
    border: 1px solid color-brand(secondary);
    border-radius: $border-radius;
  }

  input {
    position: absolute;
    top: -100px;
    left: -100px;

    &:focus ~ .c-radio-input__inner {
      outline: 1px dashed color-brand(secondary);
      outline-offset: -4px;
    }

    &:checked ~ .c-radio-input__inner {
      background-color: color-brand(secondary);
      color: white;
    }
  }
}
