// ========================================================================
// SETTINGS/LAYOUT
// ========================================================================

$max-width: 1024px;
$grid-columns: 12;
$rhythm: $line-height-px;
$gutter: 16px;
