// ========================================================================
// LAYOUT/FLEX-GRID
// ========================================================================

.l-flex {
  display: flex;
  margin-left: -(spacer(2));

  &--wrap {
    flex-wrap: wrap;
  }

  > div {
    padding-left: spacer(2);
  }
}
