// ========================================================================
// COMPONENTS/SECTIONS/QUESTION-SETS
// ========================================================================

@import '~sassHelpers';

.l-question-sets {
  position: relative;
  height: 100%;

  &__toggle-menu {
    margin-left: -4px;
    padding-top: spacer(2);
    padding-bottom: spacer(2);
    background-color: white;
    border-bottom: 1px solid color(grey4);

    @include bp(20) {
      display: none;
    }
  }

  &__menu {
    @include bp(20, max) {
      position: absolute;
      width: 300px;
      top: 0;
      left: 0;
      height: 100%;
      transform: translateX(-100%);
      opacity: 0;
      transition: all 300ms ease-in;
      z-index: 10;
    }

    &.isActive {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @include bp(20) {
    &__content {
      display: flex;
    }

    &__menu {
      position: static;
      flex: 0 0 300px;
      height: auto;
      transform: translateX(0);
      opacity: 1;
    }

    &__questions {
      flex: 1;
      width: 80%;
    }
  }
}
